*{
    font-family: monospace;
}

h1{
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}

/*h2*/
.display-name{
    text-align: center;
    margin-top: 60px;
}

.container{
    margin: 0 auto ; /*Alinha o container no centro*/
    max-width: 400px;
    border: 3px solid #303030;
}

.item{
    font-size: 20px;
    text-align: center;
    border: 2px solid #3de00b;
    background-color: #3de00b;
    margin: 5px;
}

/*display: flex*/
.flex{
    display: flex;
}

/*flex-wrap*/
.flex-wrap{
    flex-wrap: wrap;
}

.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.flex-item-1{
    flex: 1;
}

/*flex-direction*/
.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column; /*Existe também, o column-reverse*/
    height: 200px;
}

/*justify-content*/
.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

/*align-items*/
.container-2{
    margin: 0 auto ; /*Alinha o container no centro*/
    max-width: 420px;
    display: flex;
    border: 3px solid #303030;
}

.stretch{
    align-items: stretch;
}

.mod-item{
    padding: 0 10px;
    flex: 1;
}

.align-flex-start{
    align-items: flex-start;
}

.align-flex-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.alinhamento-central {
	height: 400px;
	justify-content: center;
	align-items: center;
}

.alinhamento-central #central{
    flex: 0;
    padding: 10px;
}


